*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.map-h2{
  position:absolute;
  top:.7rem;
  left:02%;
  color:rgb(33, 88, 33);
  z-index:10;
  margin:0;
  padding:0;
 background-color:transparent;
}
.search{
  font-size:30px;
  position:absolute;
  top:.7rem;
  left: 50%;
  transform:black;
  width: 100%;
  color:rgb(33, 88, 33);
  z-index:10;
  margin:0;
  padding:0;
  background-color:rgb(164, 229, 164);
}
