*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.map-h1{
  font-size:20px;
  position:absolute;
  top:.7rem;
  left:0%;
  color:#197019;
  z-index:10;
  margin:0;
  padding:0;
 background-color:transparent;
}
.search{
  font-size:15px;
  position:absolute;
  top:.7rem;
  left: 80%;
  transform:orange;
  width: 20%;
  color: white;
  z-index:10;
  margin:0;
  padding:0;
  background-color: #4050B5;

}
